* {
  margin: 0px 5px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* body {
  font-family: sans-serif;
}

.container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  font-size: 4vw;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.5vw;
  gap: 15px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80%;
}

.main__image {
  background-image: url(images/my-portrait.JPG);
  width: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
}

.main__text {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.main__text span {
  color: red;
}

.main__text-1 {
  font-size: 8vw;
}

.main__text-2, .main__text-3, .main__text-4 {
  font-size: 3vw;
}

.footer {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 10px;
  margin-right: 10%;
}

.footer [class^="footer__"] img {
  width: 5.3vw;
}

@media (max-width: 650px) {
  .header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__logo {
    font-size: 40px;
  }
  .header__menu {
    display: none;
  }
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__image {
    height: 200px;
    width: 200px;
    background-size: 100%;
    border-radius: 100%;
    background-position: center;
  }
  .main__text {
    width: 100%;
  }
  .main__text__1 {
    display: none;
  }
  .main__text__2, .main__text__3, .main__text__4 {
    font-size: 30px;
  }
  .footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px;
  }
}
/*# sourceMappingURL=style-2.css.map */